@use '../abstracts/size-scale' as *;

@layer components {
  .app-c-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    .svg-icon {
      width: 100%;
      height: 100%;
    }
  }
}

@layer utilities {
  @each $name, $var in $size-scale {
    .u-icon-#{$name} {
      width: var(#{$var});
      height: var(#{$var});
    }
  }
}
