@use '../abstracts/size-scale' as *;

@layer components {
  .app-c-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    .svg-icon {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

@layer utilities {
  @each $name, $value in $icon-scale {
    .u-icon-#{$name} {
      width: $value;
      height: $value;
    }
  }
}
