@use '../abstracts/functions/rem' as *;

@layer components {
  .app-c-textfield {
    display: block;
    width: 100%;
    border: 1px solid var(--textfield-border);
    background-color: var(--textfield-bg);
    color: var(--textfield-color);
    caret-color: var(--textfield-focus-ring);
    transition:
      border-color var(--transition-1),
      box-shadow var(--transition-1);

    &::placeholder {
      color: var(--textfield-placeholder);
    }

    &:disabled {
      cursor: not-allowed;
      background-color: var(--textfield-bg-disabled);
      border-color: var(--textfield-border-disabled);
      color: var(--textfield-color-disabled);
    }

    &:read-only {
      background-color: var(--textfield-bg-disabled);
      border-color: var(--textfield-border-disabled);
      cursor: default;
    }

    &:not(:disabled, :read-only) {
      &:hover {
        border-color: var(--textfield-border-hover);
      }
    }

    &:not(:disabled):focus-visible {
      border-color: var(--textfield-focus-ring);
      box-shadow: 0 0 0 2px var(--textfield-focus-ring);
    }

    &:focus {
      outline: none;
    }
  }

  .app-c-textfield-error {
    --textfield-border: var(--status-error);
    --textfield-border-hover: var(--status-error);
    --textfield-focus-ring: var(--status-error);
  }

  .app-c-textfield-sm {
    height: var(--form-item-height-sm);
    padding-inline: rem(12);
    font-size: var(--fs-sm);
    border-radius: var(--radius-sm);
  }

  .app-c-textfield-md {
    height: var(--form-item-height-md);
    padding-inline: rem(16);
    font-size: var(--fs-md);
    border-radius: var(--radius-md);
  }

  .app-c-textfield-lg {
    height: var(--form-item-height-lg);
    padding-inline: rem(20);
    font-size: var(--fs-lg);
    border-radius: var(--radius-md);
  }

  .app-c-textarea {
    padding: rem(12) rem(20);
    font-size: var(--fs-lg);
    border-radius: var(--radius-md);
  }
}
