:root {
  --icon-2xs: 0.5rem; /* 8px  */
  --icon-xs: 0.75rem; /* 12px */
  --icon-sm: 1rem; /* 16px */
  --icon-md: 1.25rem; /* 20px */
  --icon-lg: 1.5rem; /* 24px */
  --icon-xl: 2rem; /* 32px */
  --icon-2xl: 3rem; /* 48px */
}
