@use 'abstracts/mixins/page-height' as *;
@use 'abstracts/functions/rem' as *;
@use 'abstracts/mixins/breakpoint' as *;

:host {
  @include page-height;
}

.app-c-page-wrap {
  @include breakpoint-down(sm) {
    flex-direction: column;
  }
}

.panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  padding: rem(16);

  @include breakpoint-down(sm) {
    flex: initial;
    min-height: auto;
    overflow-y: unset;
  }
}

.panel-body {
  flex: 1;
  min-height: 0;
  overflow-y: auto;

  @include breakpoint-down(sm) {
    overflow-y: unset;
    flex: initial;
  }
}
