@use '../abstracts/size-scale' as *;

.u-fw-normal {
  font-weight: var(--fw-normal);
}

.u-fw-medium {
  font-weight: var(--fw-medium);
}

.u-fw-bold {
  font-weight: var(--fw-bold);
}

@each $name, $var in $size-scale {
  .u-text-#{$name} {
    font-size: var(#{$var});
  }
}
