@use 'abstracts/functions/rem' as *;
@use 'abstracts/mixins/breakpoint' as *;

:host {
  --header-spacing: #{rem(16)};

  display: flex;
  align-items: center;
  column-gap: rem(32);
  flex-shrink: 0;
  height: var(--app-header-height);
  padding: var(--header-spacing);
  background-color: var(--bg-surface);
  border-bottom: 1px solid var(--border-light);

  @include breakpoint-down(md) {
    height: auto;
    min-height: var(--app-header-height);
    row-gap: rem(16);
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

ul {
  display: flex;
  align-items: center;
  gap: rem(24);

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  @include breakpoint-down(md) {
    order: 3;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: rem(4);
  }
}
