.app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-body {
  display: flex;
  flex: 1 1 auto;
  min-height: 0;
}

.route-container {
  flex: 1 1 auto;
  min-width: 0;
  overflow-y: auto;
}
