@use 'abstracts/mixins/page-height' as *;
@use 'abstracts/functions/rem' as *;

:host {
  @include page-height;
}

.app-c-page-scroll {
  padding: rem(16);
}

.demo-section {
  margin-bottom: rem(40);
}

.demo-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: rem(16);
  margin-bottom: rem(16);
}

.demo-stack {
  display: flex;
  flex-direction: column;
  gap: rem(12);
  margin-bottom: rem(16);
}
