:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: var(--app-sidebar-width);
  height: 100%;
  background-color: var(--sidebar-bg);
}

.sidebar-label {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: var(--fs-sm);
  color: var(--common-white);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  user-select: none;
}
