@use 'abstracts/mixins/page-height' as *;
@use 'abstracts/mixins/typography' as *;
@use 'abstracts/functions/rem' as *;

:host {
  @include page-height;
}

.app-c-page-scroll {
  padding: rem(16);
}

.app-c-demo-box {
  @include text-style(ui-md);

  background-color: var(--neutral-100);
  border: 1px solid var(--neutral-300);
  color: var(--neutral-900);
  padding: rem(16);
  text-align: center;

  &.alt {
    background-color: var(--neutral-200);
  }

  &.blue {
    background-color: var(--info-100);
    border-color: var(--info-300);
  }
}

.app-c-individual-align {
  min-height: rem(150);
  background-color: var(--neutral-600);
}
