@use "sass:meta";

@layer reset, base, components, utilities;

/* Reset */
@include meta.load-css("reset");

/* Base */
@include meta.load-css("abstracts/variables");
@include meta.load-css("abstracts/theme");
@include meta.load-css("abstracts/typography");

/* Common */
@include meta.load-css("common");

/* Components */
@include meta.load-css("components/buttons");

/* Always load it last */
@include meta.load-css("utilities");
